
body{
    font-family: Arial;
    margin: 0%;
}

.title {
    overflow : hidden;
    background-color: #184238;
    color : white;
    position: sticky;
    width: 100%;
    text-transform: uppercase;
    font : menu;
    text-align: center;    
    font-size: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);

  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font : menu;
    text-transform: uppercase;
  }
  
  li a:hover {
    background-color: #cf9d2d;
  }




  #promo img {
    width : 30%;
    background: rgba(255,255,255, 0.8);
    border-radius: 2%;
    box-shadow: 0 10px 5px rgba(0,0,0,0.5);
  }


h2{
  background-color: #184238;
  padding: 16px 24px;
  border-radius: 10px;
  width: 25%;
  border: none;
  outline: none;
  font-size: 1rem;
  color : white;
  text-align: center; 
  letter-spacing: 1px;
  float:center;
}


.container{
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}

.container table{
    background-color: #184238;
    border-collapse: collapse;
    color: white;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    padding-top: 5%;

}
 
  td, th {
    border: 1px solid white;
    padding: 10px;
    text-align: left;
    text-align: center;
	  vertical-align: middle;
  }

  th{
    background-color: black;
  }


#promo{
    float : center;
    text-align: center;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
}

#main{
    float : center;
    text-align: left;
    font-size: larger;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

#detailsbook{
    float : center;
    text-align: left;
    font-size: larger;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    
}

#detailsBookId{
    background-color: #184238;
    border-collapse: collapse;
    color: white;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    padding-top: 5%;
}

.hidden{
  visibility: hidden;
}

label{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

footer{
    font : menu;
    text-transform: uppercase;
    width: 100%;
    color: white;
    background-color: black;
    display : inline-block;
    box-sizing: border-box;
    text-align: left;
    padding: 16px 24px;
    text-decoration: none;
    font-size : 15px;
}

  
